doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') FootScores
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#') Leaderboard
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              span.glyphicon.glyphicon-user
              |  Sign Up
          li
            a(href='#')
              span.glyphicon.glyphicon-log-in
              |  Login
    block content
    script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
    script(src="./bootstrap/js/bootstrap.min.js")
